body{
    background-color: #283618;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color:#527a4b;
    font-size: 3rem;
}
main{
background-color:#283618;
box-shadow: 2px 2px 3px 3px black;
padding: 50px;
text-align: center;
color: white;
}
button{
    background-color:#606c38 ;
    border: none;
    padding: 7px 15px;
    border-radius: 10px;
    color: white;
}
button:hover{
    opacity: 0.3;
}